body {
	font-family: 'Andada', serif;
}

h1, h2, h3 {
	color: #fb7100;
	font-family: 'Andada', serif;
}

a, a:hover, a:visited, a:active {
	color: #fb7100;
}

ul {
	list-style: none;
	margin: 0;
}

ul > ul {
	margin-left: 7px;
}

table {
	margin-top: 15px;
}

.margin-bottom {
	margin-bottom: 5px;
}

.nav-separator {
	border-bottom-width: 1px;
	border-bottom-style: solid;
	height: 1px;
	width: 4em;
	border-color: #DDDDDD;
}

.content {
	margin-bottom: 4em !important;
	margin-top: 4em;
}

/* Foundation overwrites */
.top-bar-section ul li > a {
	font-family: 'Andada', serif;
}

.top-bar,
.top-bar.expanded .title-area,
.top-bar-section ul li,
.top-bar-section ul li:hover:not(.has-form) > a,
.top-bar .toggle-topbar.menu-icon a,
.top-bar-section ul li > a {
	background-color: white;
	color: #fb7100;
}

.divider {
	border-color: #DDDDDD !important;
}
.top-bar .toggle-topbar.menu-icon a span::after {
	box-shadow: 0 0 0 1px #fb7100, 0 7px 0 1px #fb7100, 0 14px 0 1px #fb7100;
}

.center-image {
	display: block;
	margin: auto;
}

.its-a-me {
	box-shadow: 5px 10px 5px gray;
	margin-bottom: 1.25rem;
}

.project-logo {
	max-height: 150px;
}
